.invalid-feedback {
    font-size: 0.8em;
    font-family: monospace;
    font-weight: bold;
    letter-spacing: 0.1em;
    color: #e91e63;
    padding: 0.1em 0.4em;
    background: #0007;
  
  }
  
  [type="text"]  {
    color: white;
    margin: 0.2rem 0rem;
    padding: 0.1em 0.2em;
    outline: none;
    border: none;
    background: none;
    font-family: sans-serif;
    border-bottom: 1px solid rgba(255, 255, 255, 0.467);

  }
  
  .registerContainerGuest {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(rgb(21, 21, 57) 17.15%, rgb(51, 30, 102) 120.7%);
  
    .formContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 25rem;
      margin: 15rem 0rem;
      padding-bottom: 3rem;
      border-radius: 2rem;
  
      h1 {
        font-family: Fino-Sans-Regular;
        font-weight: 400;
        margin-top: 3rem;
        font-size: 3rem;
      }
  
      img {
        width: 20rem;
      }
  
      .formWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 18rem;
        margin: 4rem 0rem;
  
        .placeholder {
  
          color: white;
          margin: 0.2rem 0rem;
          font-family: sans-serif;
          font-size: 1.0rem;
          font-weight: 400;
          letter-spacing: 0.15rem;
          line-height: 0.4rem;
  
        }
  
        button {
          margin: 1rem 0.5rem;
        }
  
      }
  
    }
  }
  
  
  .fieldWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0.5rem 0rem;
    padding: 0.2em;

    label {
      padding: 0.1em 0.2em;
      background: none;
      font-family: sans-serif;
      border: none;
      border-bottom: 0rem;
      margin:0.8rem 0rem!important;
      outline: none;
      border-bottom: 1px solid rgba(255, 255, 255, 0.467);
    }
  
  }
  
  