*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.about-wrapper{
  margin: 0 2em;
  font-family: Fino-Sans-Regular;
  padding-top: 7rem;
  animation-duration: 1s;
  transition-timing-function: ease-in;
  animation-fill-mode:forwards;
  animation-name: fadeInDown;
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, 50%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.about-outer-container{
  // min-height: 100vh;
  display: flex;
  justify-content: space-between;
  text-align: justify;
  overflow: hidden;
}

.page-heading{
  text-align: center;
  letter-spacing: 3px;
  font-family: PF-MomentaPro;
  font-size: 4rem;
}

h1{
  letter-spacing: 2px;
}
p{
  font-family:Regular-Text, sans-serif;
  font-size: 1.3rem;
  color: rgba(255, 255, 255, 0.803);
}
.quote-text{
  font-family: Regular-Text;
  font-size: 1.5em;
  color: rgba(255, 255, 255, 0.905);
}

.about-left-container{
  padding: 2em;
  padding-bottom: 0;
  margin-top: 2em;

  h1{
    margin-bottom: 0.5em;
  }
}

.about-right-container{
  padding: 2em;
  padding-bottom: 0;
  margin-top: 2em;
  // translate: 0 4em;

  h1{
    margin-bottom: 0.5em;
  }
}
.event-images-container{
  display: flex;
  justify-content: center;

  .event-images{
    width: 10em;
    margin: .3em;
    margin-top: 6em;
  }

  .localTrain{
    rotate: -20deg;
    z-index: 1;
  }
  .naalayak{
    translate: 0 -2em;
    z-index: 2;
  }
  .vipulGoyal{
    rotate: 20deg;
    z-index: 1;
  }
}

// about team

.about-team-outer-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  // margin-top: 5em;
}

.about-team{
  padding: 2em;

  h1{
    margin-bottom: 0.5em;
  }
  p{
    text-align: justify;
  }
}

// video player
.video-preview {
  padding: 3em 0;
  display: flex;
  justify-content: center;

  iframe {
    width:60vw;
    height: 35vw;
    @media screen and (max-width: 430px) {
      width: 80vw;
      height: 40vh;
    }
  }
}


@media (max-width: 1052px){
  .about-outer-container{
    flex-direction: column;
  }

  .about-hillfair{
    margin-right: 3em;
  }
  .about-left-container{
    display: flex;
    flex-direction: row;
  }

  .page-heading{
    font-size: 4em;
  }
  .quote-text{
    font-size: 1em;
  }
  p{
    font-size: 0.75em;
  }
}

@media (max-width: 780px) {

  .about-hillfair{
    margin-right: 0em;
  }

  .about-left-container{
    display: flex;
    flex-direction: column;
  }

  .about-team-outer-container{
    flex-direction: column;
  }

  .event-images-container{
    .event-images{
      width: 8em;
    }
  }
  
}

@media (max-width: 400px) {
  .event-images-container{
    .event-images{
      width: 5em;
    }
  }
}