.about-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
  // justify-content: center;
  // position: fixed;
  // translate: 0 6rem;
//   background: linear-gradient(#c0ae90, #695430);
background: linear-gradient(rgba(115,63,164,1), rgba(65,17,101,1) );
  color: black;
  overflow: hidden;
  position: relative;

  h1 {
    // position: absolute;
    font-weight: 500;
    letter-spacing: 4px;
    margin-bottom: 1rem;
    font-size: 2.5rem;
  }
}

.about-inner-container {
  width: 80vw;
  position: relative;
}

.scroll {
  width: 90vw;
  transform: translate(-5%, -5%);
}

.about-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  width: 50vw;
  height: 30vw;
  position: absolute;
  top:15%;
  translate: 30%;
  // overflow: hidden;

  p {
    font-weight: 600;
    font-size: 1.3vw;
    letter-spacing: 1px;
    line-height: 26px;
    z-index: 100;
    text-align: justify;
    @media (max-width:1488px) {
      font-size:1vw;
    }
  }
}


// @media (max-width: 1000px) {
//   .scroll {
//     rotate: 90deg;
//     // width: 280vw;
//     // height: 90vh;
//     // translate: -35% 35%;
//   }

//   .about-text-container {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     background-color: transparent;
//     width: 60vw;
//     height: 150vw;
//     position: absolute;
//     top: 15%;
//     translate: 20%;
//     overflow: hidden;

//     h1 {
//         // position: absolute;
//         font-weight: 500;
//         letter-spacing: 4px;
//         margin-bottom: 1rem;
//         font-size: 2rem;
//       }

//     p {
//         font-weight: 600;
//         // letter-spacing: 1px;
//         line-height: 25px;
//         z-index: 100;
//         // text-align: justify;
//         font-size: 15px;
//       }
//   }
  
// }

.video-preview {
  margin: 0 0 3rem 0;
  iframe {
    width:60vw;
    height: 35vw;
    @media screen and (max-width: 430px) {
      width: 80vw;
      height: 40vh;
    }
  }
}
.center-image {
  text-align: center;
}

@media (max-width:1230px) {
  .scroll {
    rotate: 90deg;
    width: 90vw;
    height: 95vw;
    transform: translate(-15%, 5%);
  }
  .about-text-container {
    top: 10%;
    height: 35rem;
    p {
      line-height: calc(1rem + 1vw);
      font-size: calc(0.8rem);
    }
    
  }
  .video-preview iframe {
    margin: -10rem;
    margin-bottom: 3rem;
  }
}

@media (max-width:916px) {
  .about-text-container {
    height: 55vw;
    h1 {
      font-size: calc(1rem + 2vw);
    }
    p{
      font-size: calc(0.5rem + 1vw);
      line-height: 1rem;
    }
  }
}
@media (max-width:828px) {
  .scroll {
    width: 150vw;
    transform: translate(5%, 37%);
  }
  .about-text-container {
    top: 15%;
  }
  .video-preview iframe {
    margin:8rem 0 1rem 0;
  }
}
@media (max-width:588px) {
  .scroll {
    height: 100vw;
  }
  .about-text-container {
    p {
      font-size: calc(0.5rem + 0.5vw);
      line-height: 0.7rem;
    }
  }
}
@media (max-width:440px) {
  .scroll {
    width: 200vw;
    transform: translate(11%, 61%);
  }
  .video-preview iframe {
    margin:15rem 0 1rem 0;
  }
}
@media (max-width:370px) {
  .scroll {
    width: 210vw;
    transform: translate(13%, 66%);
  }
  .video-preview iframe {
    margin:14rem 0 1rem 0;
    border-radius: 0;
  }
}