.about-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    position: fixed;
    translate: 0 6rem;
    background: linear-gradient(#c0ae90,#695430);
    color: black;

    h1{
        font-weight: 500;
        letter-spacing: 4px;
        margin-bottom: 5rem;
    }
}

.about-inner-container{
    width: 80vw;
    
    p{
        font-weight: 600;
        letter-spacing: 1px;
        line-height: 25px;
    }
}