.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    // background-color: #071c40;
    color: #d9faff;
    max-height: 100vh;
    .heading {
      font-size: 4rem;
      margin-top: 4rem;
      font-family: Norse, sans-serif;
      font-weight: 900;
      z-index: 100;
    }
    .container {
      // display: flex;
      // justify-content: center;
      // align-items: center;
      padding: 0.5rem;
      // margin-top: 4rem;
      -webkit-column-count: 3;
      -moz-column-count: 3;
      -webkit-column-width: 33%;
      -moz-column-width: 33%;
      column-width: 33%;
      column-count: 3;
      overflow: hidden;
      .container-one {
        height: inherit;
        border-left: 3px solid #d9faff;
        border-right: 3px solid #d9faff;
        overflow: hidden;
        padding: 1rem;
        margin: 0 1rem 0;
        .pics {
          padding: 0.5rem 1rem;
          // &:hover {
          //   transform: scale(1.05);
          //   transition: 0.2s ease all;
          // }
          // img {
          //   &:hover {
          //     transform: scale(1.09);
          //     transition: 0.5s ease all;
          //   }
          // }
        }
      }
      .container-two {
        height: inherit;
        margin: 0 1rem 0;
        padding: 1rem;
        border-left: 3px solid #d9faff;
        border-right: 3px solid #d9faff;
        .pics {
          // padding: 0.5rem 1rem;
          margin: 1rem;
          // &:hover {
          //   transform: scale(1.05);
          //   transition: 0.2s ease all;
          // }
          // img {
          //   &:hover {
          //     transform: scale(1.09);
          //     transition: 0.5s ease all;
          //   }
          // }
        }
      }
      .container-three {
        height: inherit;
        margin: 0 1rem 0;
        border-left: 3px solid #d9faff;
        border-right: 3px solid #d9faff;
        padding: 1rem;
        .pics {
          // padding: 0.5rem 1rem;
          margin: 1rem;
          cursor: pointer;
  
          // &:hover {
          //   transform: scale(1.05);
          //   transition: 0.2s ease all;
          // }
          // img {
          //   &:hover {
          //     transform: scale(1.09);
          //     transition: 0.5s ease all;
          //   }
          // }
        }
      }
      @media screen and (max-width: 430px) {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;
        column-count: 1;
      }
      @media screen and (min-width: 430px) and (max-width: 760px) {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        -webkit-column-width: 50%;
        -moz-column-width: 50%;
        column-width: 50%;
        column-count: 2;
      }
    }
  }
  