.timer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // background-color: #CDC2AF;
    background: linear-gradient(#CDC2AF,#9a8052c5);
    color: black;
    border-radius: 1.25rem ;
    padding-bottom: .75rem;
    translate: 0 -20%;

    span{
        padding-top: 1.5rem;
        font-weight: bolder;
        // display: none;
    }
}
.timer-inner-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0rem;
    padding: 1rem;
    padding-left: .1rem;
    padding-bottom: .3rem;
    width: 8rem;
    // border: 2px solid #CDC2AF;

    .time{
        font-size: 35px;
        font-weight: 400;
    }
    .time-tag{
        font-weight: 400;
        translate: 0 -10px;
        letter-spacing: 3px;
        translate: 5%;
    }
    
}

@media (max-width: 594px) {
    .timer-container{
        scale: .85;
    }
}
@media (max-width: 473px) {
    .timer-container{
        scale: .65;
    }
}
@media (max-width: 282px){
    .timer-container{
        scale: 0.45;
        translate: 0 -50%;
    }
}
