.btn {
  align-items: center;
  background-color: transparent;
  border: 0.1rem solid #ffb85c;
  border-radius: 2rem;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-family: Al-Andalus;
  letter-spacing: 3px;
  font-weight: bolder;
  font-size: 1.2rem;
  justify-content: center;
  padding: 1rem 2rem;
  text-align: center;
  &:hover {
    background-color: #130f3b;
    transition: 0.5s ease-out, color 0.2s ease-out, border 0.2s ease-out;
  }
 @media (max-width:600px) {
  width: 100%;
 }
}