.menu {
  display: flex;
  flex-direction: column;
  color: white;
}
.menu .nav {
  z-index: 100;
  position: fixed;
  width: 100vw;
  height: 15rem;
  -webkit-clip-path: polygon(0% 0%, 100% 0, 93% 15%, 60% 15%, 55% 30%, 45% 30%, 40% 15%, 7% 15%);
          clip-path: polygon(0% 0%, 100% 0, 93% 15%, 60% 15%, 55% 30%, 45% 30%, 40% 15%, 7% 15%);
  transition: 1s;
  background-color: rgba(0, 0, 0, 0.775);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
}
@media screen and (max-width: 430px) {
  .menu .nav {
    -webkit-clip-path: polygon(0 0, 100% 0, 90% 14%, 60% 15%, 55% 22%, 45% 22%, 40% 15%, 10% 14%);
            clip-path: polygon(0 0, 100% 0, 90% 14%, 60% 15%, 55% 22%, 45% 22%, 40% 15%, 10% 14%);
  }
}
.menu .expand {
  z-index: 500;
  position: fixed;
  width: 100vw;
  -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 19%, 100% 93%, 93% 100%, 9% 100%, 0 93%, 0 33%);
          clip-path: polygon(0% 0%, 100% 0, 100% 19%, 100% 93%, 93% 100%, 9% 100%, 0 93%, 0 33%);
  height: 100vh;
  transition: 1s;
  background-color: rgba(0, 52, 86, 0.3568627451);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}
.menu .img-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu .logo {
  width: 3.5rem;
  z-index: 501;
  margin: auto;
  margin-top: 0.5rem;
  transition: 500ms;
}
@media screen and (max-width: 430px) {
  .menu .logo {
    margin-top: 0.2rem;
    width: 2.8rem;
  }
}
.menu .slide {
  margin: auto;
  width: 16rem;
  transition: 500ms;
  padding: 1rem 0;
}
.menu .heading {
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
}
.menu .list {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  width: 60vw;
  position: relative;
  padding-top: 2.5rem;
}
.menu .list a {
  text-decoration: none;
  color: #fff;
}
@media screen and (max-width: 430px) {
  .menu .list {
    width: 80vw;
  }
}
.menu .item {
  flex-basis: 50%;
  text-align: center;
  padding-top: 1.5rem;
  font-size: 2.2rem;
}
.menu .arrow:nth-of-type(1) {
  width: 100%;
  position: absolute;
  top: 0;
}
.menu .arrow:nth-of-type(2) {
  width: 100%;
  position: absolute;
  top: 27%;
}
.menu .arrow:nth-of-type(3) {
  width: 100%;
  position: absolute;
  top: 55%;
}
.menu .arrow:nth-of-type(4) {
  height: 250%;
  position: absolute;
  top: -50%;
  left: 0%;
  transform: rotate(-180deg);
}
@media screen and (max-width: 430px) {
  .menu .arrow:nth-of-type(4) {
    transform: scale(1.7);
  }
}
.menu .item {
  position: relative;
  display: block;
  cursor: pointer;
}
.menu .item:before,
.menu span:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  top: 65%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
}
.menu .item:before {
  left: -2.5px;
  transition: 500ms;
}
.menu .item:after {
  right: 2.5px;
  background: #fff;
  transition: 500ms;
}
.menu .item:hover:before {
  background: #fff;
  width: 25%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.menu .item:hover:after {
  background: transparent;
  width: 25%;
  transition: 500ms;
}/*# sourceMappingURL=Menu.css.map */