.timer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #CDC2AF;
    color: black;
    border-radius: 3rem ;
    padding-bottom: 1rem;
    translate: 3%;

    span{
        padding-top: 1.5rem;
        font-weight: bold;
        // display: none;
    }
}
.timer-inner-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0rem;
    padding: 1rem;
    padding-bottom: .3rem;
    width: 8rem;
    // border: 2px solid #CDC2AF;

    .time{
        font-size: 30px;
    }
    .time-tag{
        font-weight: 400;
        translate: 0 -10px;
        letter-spacing: 3px;
    }
}

@media (max-width: 594px) {
    .timer-container{
        scale: .85;
    }
}
@media (max-width: 473px) {
    .timer-container{
        scale: .65;
    }
}

