*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    overflow: hidden;

    #logo{
        width: 25rem;
        translate: 0 -10%;
    }

    .coming-soon{
        font-weight: 300;
        color: #e8dbc5;
        letter-spacing: 5px;
        translate: 0 -100%;
    }

    .pixonoids_logo{
        width: 5.25rem;
        position: absolute;
        top: 0%;
        left: 0;
    }
}

@media (max-width: 282px){
    #logo{
        scale: 0.7;
    }
    .coming-soon{
        scale: 0.7;
    }
}