$textColor: white;
$boxShadow : black;
$maskColor: #859d24;


.card {
  width: 20rem;
  height: 35rem;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  background-color: transparent;
  box-shadow: 0 0 0.3rem 0.1rem $boxShadow;
  
  &:hover {
    box-shadow: 0 0 0.4rem 0.2rem $boxShadow;
    img {
      scale: 1.03;
    }
    .card-mask {
      height: 14.5rem;
      svg {
        top: -3rem;
      }
    }
  }

  img {
    border-radius: 1rem 1rem 0 0  ;
    width: 20rem;
    height: 100%;
    max-height: 20rem;
    object-fit: cover;
    transition: all 0.2s;
  }
  .card-mask {
    border-radius: 0 0 1rem 1rem;
    // z-index: -1;
    position: absolute;
    bottom: 0;
    height: 16.5rem;
    width: 100%;
    background: $maskColor;
    transition: all 0.4s;

    svg {
      position: absolute;
      top: -2.5rem;
      transition: all 0.3s;
      path {
        fill: $maskColor;
      }
    }
    .card-text {
      text-align: center;
      margin-top: 10%;
      color: $textColor;
      h1 {
        mask-image: linear-gradient(
          -45deg,
          rgba(0, 0, 0, 0.9) 20%,
          #000 50%,
          rgba(0, 0, 0, 0.9) 70%
        );
        mask-size: 300%;
        -webkit-mask-image: linear-gradient(
          -75deg,
          rgba(0, 0, 0, 0.6) 30%,
          #000 50%,
          rgba(0, 0, 0, 0.6) 70%
        );
        -webkit-mask-size: 200%;
        animation: shine 3s infinite ease;
      }

      .person-details {
        margin: 1.5rem 1rem 0 1rem;
      }
    }
  }
}
@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }

  to {
    -webkit-mask-position: -50%;
  }
}

@keyframes shine {
  from {
    mask-position: 150%;
  }

  to {
    mask-position: -50%;
  }
}
