.readerDigest {
  width: 50%;
  max-height: 10rem;
  padding: 4rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  .heading {
    padding-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2.5rem;
    position: absolute;
    font-family: Fino-Sans-Regular;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .quote {
    color: rgba(255, 255, 255, 0.668);
    font-family: Regular-Text;
    font-size: 1.4rem;
    transform-origin: top left;
    height: 12rem;
    animation: pop 4s ease-in-out infinite;
    translate: 0 6rem;
  }
  @media (max-width:700px) {
    width: 100%;
    padding: 2rem;
  }
  @media (max-width:700px) {
    padding: 2rem 0;
  }
}

@keyframes pop {
  0% {
    opacity: 0.2;
    scale: 0.2;
  }
  20% {
    opacity: 1;
    scale: 1.1;
  }
  30% {
    scale: 1;
  }
}