$borderRadius: 1rem;

@mixin pointer {
  background-color: red;
  transform: rotate(45deg);
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 7.5rem;
  right: -0.5rem;
}
@mixin textGradient {
  background: linear-gradient(
    90deg,
    rgb(4, 57, 117) 0%,
    rgba(141, 14, 100, 0.802) 49%,
    rgb(11, 54, 124) 89%
  );
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.eventCard {
  background: rgb(223, 222, 222);
  display: flex;
  justify-content: flex-end;
  padding-right: 2rem;
  margin: 1rem 1rem;
  min-height: 15rem;
  border-radius: $borderRadius;
  width: 40%;
  position: relative;
  //   text-align: center;

  &:nth-child(even) {
    align-self: flex-end;
    justify-content: flex-start;
    padding: 0 0 30px 0;
  }

  

  &:nth-child(even)::after {
    content: "";
    @include pointer();
    // position: absolute;
    left: -0.5rem;
  }


  h1:nth-child(1) {
    @include textGradient();
    padding: 1rem 0 0 0;
  }


  h2 {
    @include textGradient();
    font-size: 1.2rem;
  }


  h1:nth-child(3) {
    @include textGradient();
    // position: absolute;
    // bottom: 1rem;
    // left: 0.5rem;
  }


  p {
    // position: absolute;
    // right: 0;
    // bottom: 0;
    // color: black;
    // border-radius: 0.3rem 0 1rem 0;
    // width: 5rem;
    // height: 2rem;
    // background-color: rgb(187, 207, 115);
    // display: flex;
    // align-items: center;
    // justify-content: center;
  }


  
}
