$borderRadius: 1rem;

@mixin pointer {
  background-color: #e0c384;
  clip-path: polygon(100% 50%, 0 0, 0 100%);
  width: 1rem;
  height: 2rem;
  position: absolute;
  top: 6.3rem;
  right: -0.8rem;
}
@mixin textGradient {
  background: linear-gradient(90deg, #41382b 25%, #20232ccd 49%);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin svgSettings {
  width: 3rem;
  height: 3rem;
  z-index: 2;
  scale: -1;
  rotate: -45deg;
  border-radius: 50%;
  position: absolute;
  animation: glow 2s ease-in-out infinite ;
}

.eventCard {
  background: linear-gradient(45deg, #e0c384 10%, #af844c 80%);
  display: flex;
  justify-content: flex-start;
  padding: 0 2rem;
  margin: 0 1rem;
  height: 15rem;
  border-radius: $borderRadius;
  width: 40%;
  position: relative;
  animation: glow 2s ease-in-out infinite ;

  .moon svg {
    @include svgSettings();
    top: 6rem;
    right: -26.8%;
    @media (max-width: 669px) {
      left: -70px;
      top: 5.6rem;
    }
  }

  &:nth-child(even) {
    justify-content: flex-start;
    align-self: flex-end;
    padding: 0 2rem;
    .moon svg {
      @include svgSettings();
      top: 6rem;
      left: -26.5%;
    }
  }

  h1:nth-child(1) {
    @include textGradient();
    padding: 1rem 0 0 0;
    font-family: fino-sans-regular, sans-serif;
    letter-spacing: 0.3rem;
    font-weight: 800;
    font-size: 2.5rem
  }
  
  h2 {
    @include textGradient();
    font-size: 1.2rem;
    font-family: fino-sans-regular, sans-serif;
    letter-spacing: 0.2rem;
  }
  
  h1:nth-child(3) {
    @include textGradient();
    position: absolute;
    bottom: 1rem;
    left: 0.5rem;
  }
  p:nth-child(3) {
    position: absolute;
    bottom: 1.5rem;
    left: 2rem;
    @include textGradient();
    font-family: fino-sans-regular, sans-serif;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    font-weight: 800;
  }
  p:nth-child(4) {
    position: absolute;
    right: 0;
    top: 0;
    color: black;
    border-radius: 0 1rem 0 1rem;
    width: 5rem;
    height: 2rem;
    background-color: #d2a84bcd;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  p:nth-child(5) {
    position: absolute;
    bottom: 1.5rem;
    right: 2rem;
    font-size: 1.5rem;
    @include textGradient();
    font-family: fino-sans-regular, sans-serif;
    letter-spacing: 0.2rem;
    font-weight: 800;
  }
}
@media (max-width: 1100px) {
  .eventCard {
    width: 35%;
    height: 10rem;
    .moon svg:nth-child(odd) {
      top: 5rem;
      right: -46%;
    }
    h1:nth-child(1) {
      margin-left: -1rem;
      font-size: 1.5rem;
    }
    h2 {
      margin-left: -0.7rem;
      font-size: 0.8rem;
    }
    p:nth-child(3) {
      bottom: 2rem;
      left: 1rem;
      font-size: 1.5rem;
    }
    p:nth-child(4) {
      font-size: 1rem;
      width: 4rem;
      height: 1.5rem;
    }
    p:nth-child(5) {
      left: 1rem;
      bottom: 0.8rem;
      font-size: 0.8rem;
      letter-spacing: 0.1rem;
    }

  }
  .eventCard:nth-child(even) {
    .moon svg {
      left: -48%;
      top: 3rem;
    }
  }
}
@media (max-width: 669px) {
  .eventCard:nth-child(even) {
    align-self: flex-start;
    .moon svg {
      top: 5.5rem;
      left: -70px;
    }
  }
  .eventCard {
    left: 4rem;
    margin: 0.5rem 0;
    width: 70vw;
    height: 12rem;
    h1:nth-child(1) {
      font-size: 2rem;
      letter-spacing: 0.1rem;
    }
    h2 {
      font-size: 1rem;
    }
    p:nth-child(3) {
      bottom: 2.5rem;
      font-size: 1.8rem;
    }
    p:nth-child(5) {
      font-size: 1.3rem;
    }
  }
}

@keyframes glow {
  0% {
    box-shadow: none;
  }
  50% {
    -webkit-box-shadow: 0px 0px 15px 1px rgba(255,255,255,0.69);
    -moz-box-shadow: 0px 0px 15px 1px rgba(255,255,255,0.69);
    box-shadow: 0px 0px 15px 1px rgba(255,255,255,0.69);
  }
  100% {
    box-shadow: none;
  }
}