.eventCard {
  background: linear-gradient(45deg, #e0c384 10%, #af844c 80%);
  display: flex;
  justify-content: flex-start;
  padding: 0 2rem;
  margin: 0 1rem;
  height: 15rem;
  border-radius: 1rem;
  width: 40%;
  position: relative;
}
.eventCard .moon svg {
  width: 4rem;
  height: 4rem;
  z-index: 2;
  border: 2px solid rgb(241, 196, 14);
  border-radius: 50%;
  position: absolute;
  top: 5rem;
  right: -28%;
}
.eventCard:nth-child(odd) {
  background: linear-gradient(45deg, #af844c 10%, #e0c384 80%);
}
.eventCard:nth-child(even) {
  justify-content: flex-start;
  align-self: flex-end;
  padding: 0 2rem;
}
.eventCard:nth-child(even) .moon svg {
  width: 4rem;
  height: 4rem;
  z-index: 2;
  border: 2px solid rgb(241, 196, 14);
  border-radius: 50%;
  position: absolute;
  top: 5rem;
  left: -28%;
}
.eventCard::after {
  content: "";
  background-color: #e0c384;
  -webkit-clip-path: polygon(100% 50%, 0 0, 0 100%);
          clip-path: polygon(100% 50%, 0 0, 0 100%);
  width: 1rem;
  height: 2rem;
  position: absolute;
  top: 6.3rem;
  right: -0.8rem;
}
@media (max-width: 1100px) {
  .eventCard::after {
    top: 4rem;
  }
}
.eventCard:nth-child(even)::after {
  content: "";
  background-color: #e0c384;
  -webkit-clip-path: polygon(100% 50%, 0 0, 0 100%);
          clip-path: polygon(100% 50%, 0 0, 0 100%);
  width: 1rem;
  height: 2rem;
  position: absolute;
  top: 6.3rem;
  right: -0.8rem;
  left: -0.8rem;
  transform: scaleX(-1);
}
@media (max-width: 1100px) {
  .eventCard:nth-child(even)::after {
    top: 4rem;
  }
}
.eventCard h1:nth-child(1) {
  background: linear-gradient(90deg, #522828 0%, rgba(80, 57, 8, 0.8039215686) 49%);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 1rem 0 0 0;
}
.eventCard h2 {
  background: linear-gradient(90deg, #522828 0%, rgba(80, 57, 8, 0.8039215686) 49%);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.2rem;
}
.eventCard h1:nth-child(3) {
  background: linear-gradient(90deg, #522828 0%, rgba(80, 57, 8, 0.8039215686) 49%);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  bottom: 1rem;
  left: 0.5rem;
}
.eventCard p:nth-child(3) {
  position: absolute;
  bottom: 0.5rem;
  background: linear-gradient(90deg, #522828 0%, rgba(80, 57, 8, 0.8039215686) 49%);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  left: 0.5rem;
}
.eventCard p:nth-child(4) {
  position: absolute;
  right: 0;
  bottom: 0;
  color: black;
  border-radius: 0.3rem 0 1rem 0;
  width: 5rem;
  height: 2rem;
  background-color: rgba(210, 168, 75, 0.8039215686);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1100px) {
  .eventCard {
    width: 35%;
    height: 10rem;
  }
  .eventCard .moon svg {
    top: 3rem;
    right: -49%;
  }
  .eventCard h1 {
    font-size: 1.5rem;
  }
  .eventCard h2 {
    font-size: 1rem;
  }
  .eventCard:nth-child(even) .moon svg {
    left: -49%;
    top: 3rem;
  }
}/*# sourceMappingURL=EventCard.css.map */