.palmRegister {
    width: 250px;
    position: fixed;
    z-index: 9;
    bottom: -1rem;
    right: 5%;
    @media (max-width: 950px) {
      opacity: 0.1;
    }
    @media (max-width: 700px) {
      width: 150px;
      right: 0%;
    }
  }
  .palm1Register {
    width: 250px;
    position: fixed;
    bottom: -1rem;
    left: 7%;
    @media (max-width: 950px) {
      opacity: 0.1;
    }
    @media (max-width: 700px) {
      width: 150px;
      left: 0%;
    }
}