.coming-soon-container {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(27deg, #f7ba41 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #f7ba41 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #e2ab3d 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #e2ab3d 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #e5ac3a 10px, transparent 10px),
    linear-gradient(
      #e5ac3a 25%,
      #f7ba41 25%,
      #f7ba41 50%,
      transparent 50%,
      transparent 75%,
      #e2ab3d 75%,
      #e2ab3d
    );
  background-color: #e9ab2f;
 background-size: 20px 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  .coming-soon-text {
    position: absolute;
    translate: 0 450%;
    letter-spacing: 4px;
    color: rgba($color: #000000, $alpha: 0.6);
  }
}
