h1{
    font-family: Al-Andalus,sans-serif;
}
.title-sponsors-container{
    width: 100vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4em;

    .sponsor-card{
        height: 20rem;
        width: 20rem;
    }

    .sponsors-inner-container{
        width: 60vw;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;
        flex-wrap: wrap;

        .sponsor-card{
            background-color: rgb(52, 51, 51);
            border-radius: 50%;
            width: 16rem;
            height: 16rem;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 1rem;
        }
        .sponsor-img{
            width: 13em;
        }
    }

    p{
        font-family: Al-Andalus,sans-serif;
        font-size: 3em;
        padding-bottom: 1em;
    }
}
.gold-sponsors-container{
    width: 100vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4em;

    .gold-sponsors-inner-container{
        width: 60vw;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;
        flex-wrap: wrap;

        .sponsor-card{
            background-color: rgb(52, 51, 51);
            border-radius: 50%;
            width: 13rem;
            height: 13rem;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 1rem;
        }
        .sponsor-img{
            width: 9em;
        }

        // @media (min-width: 540px) {
        //     h1{
        //         scale: 0.9;
        //     }
        // }
    }
}

.silver-sponsors-container{
    width: 100vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4em;

    .silver-sponsors-inner-container{
        width: 60vw;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;
        flex-wrap: wrap;

        .sponsor-card{
            background-color: rgb(52, 51, 51);
            border-radius: 50%;
            width: 10rem;
            height: 10rem;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 1rem;
        }
        .sponsor-img{
            width: 7.5em;
        }
    }
}

.sponsors-container{
    width: 100vw;
    min-height: 100vh;
    text-align: center;
    overflow: hidden;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4em;

    h1{
        font-weight: 400;
        letter-spacing: 4px;
        padding: 1rem;
    }
}
.sponsors-inner-container{
    width: 60vw;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.pharo-img-right{
    position: fixed;
    right: -15em;
    top: 1em;
}
.pharo-img-left{
    position: fixed;
    scale: -1 1;
    left: -15rem;
    top: 1em;
}

// footer
.footer-waves{
    position: fixed;
    width: 100%;
    bottom: -2em;
    z-index: 100;
}
// media queries
@media (max-width:900px){
    .pharo-img-right{
        scale: .9;
    }
    .pharo-img-left{
        scale: -.9 .9;
    }
}
@media (max-width:700px){
    .pharo-img-right{
        scale: .7;
    }
    .pharo-img-left{
        scale: -.7 .7;
    }
}
@media (max-width:500px){
    .pharo-img-right{
        scale: .5;
        right: -18em;
    }
    .pharo-img-left{
        scale: -.5 .5;
        left: -18em;
    }
    .sponsor-card{
        scale: 0.8;
    }
}
@media (max-width:440px){
    .pharo-img-right{
        scale: .45;
        right: -18em;
    }
    .pharo-img-left{
        scale: -.45 .45;
        left: -18em;
    }
    .sponsor-card{
        scale: 0.7;
    }
}
 
