html{
    overflow: hidden;
}
.sponsors-container{
    width: 100vw;
    min-height: 100vh;
    text-align: center;
    // background: linear-gradient(#c0ae90,#695430);
    overflow: hidden;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4em;

    h1{
        font-weight: 400;
        letter-spacing: 4px;
        padding: 1rem;
    }
}
.sponsors-inner-container{
    width: 60vw;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.pharo-img-right{
    position: absolute;
    right: -15em;
    top: -5em;
}
.pharo-img-left{
    position: absolute;
    scale: -1 1;
    left: -15rem;
    top: -5em;
}

@media (max-width:900px){
    .pharo-img-right{
        scale: .9;
    }
    .pharo-img-left{
        scale: -.9 .9;
    }
}
@media (max-width:700px){
    .pharo-img-right{
        scale: .7;
    }
    .pharo-img-left{
        scale: -.7 .7;
    }
}
@media (max-width:500px){
    .pharo-img-right{
        scale: .5;
        right: -17em;
    }
    .pharo-img-left{
        scale: -.5 .5;
        left: -17em;
    }
    .sponsor-card{
        scale: 0.8;
    }
}
@media (max-width:440px){
    .pharo-img-right{
        scale: .45;
        right: -18em;
    }
    .pharo-img-left{
        scale: -.45 .45;
        left: -18em;
    }
    .sponsor-card{
        scale: 0.7;
    }
}
