.sponsor-card{
    background-color: rgb(43, 41, 41);
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.sponsor-img{
    width: 7.5em;
}