.form-field {
    width: 100%;
    padding: 0.2em;
    .error {
      font-size: 0.6em;
      font-family: monospace;
      font-weight: bold;
      letter-spacing: 0.1em;
      color: #e91e63;
      padding: 0.1em 0.4em;
      background: #0007;
    }
  
    input,
    textarea {
      width: 100%;
      padding: 0.1em 0.2em;
      background: none;
      border: none;
      outline: none;
      border-bottom: 1px solid rgba(255, 255, 255, 0.467);
    }
  }
  