@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

.team-container {
    @include flexCenter(row);
    gap: 5rem;
    flex-wrap: wrap;
    margin: 10rem 0 2rem 0;
}