*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    overflow: hidden;

    #logo{
        width: 25rem;
        translate: 0 -10%;
    }

    .coming-soon{
        font-weight: 300;
        color: #e8dbc5;
        letter-spacing: 5px;
        translate: 0 -100%;
        margin-top: -3rem;
    }

    .pixonoids_logo{
        width: 5.25rem;
        position: absolute;
<<<<<<< HEAD:src/pages/landingPage/LandingPage.scss
        bottom: 0%;
        right: 0%;
=======
        top: 0%;
        left: 0;
>>>>>>> a580ec9a451cc10229d9a913c8e397cb92f7815a:src/landingPage/LandingPage.scss
    }
}

@media (max-width: 282px){
    #logo{
        scale: 0.7;
    }
    .coming-soon{
        scale: 0.7;
    }
}