@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
.timelineContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem 0 3rem 0;
    gap: 2rem;
}

.eventPage {
    display: flex;
    flex-direction: column;
    position: relative;
    width: calc(70vw + 5rem);
}
.eventPage::after {
    content: '';
    position: absolute;
    background: linear-gradient(180deg, rgba(255,255,255,1) 30%, rgba(255,255,255,0.21612394957983194) 0%);
    z-index: 1;
    transform-origin: top;
    left: calc(50% - 2px);
    width: 3px;
    border-radius: 5rem;
    height: 100%;
    transition: all 4s;
    @media (max-width: 669px) {
        left: 1rem;
    }
}

