@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
.timelineContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    gap: 2rem;
    margin-top: 3rem;
}

.eventPage {
    display: flex;
    flex-direction: column;
    position: relative;
    width: calc(70vw + 5rem);
}
.eventPage::after {
    content: '';
    position: absolute;
    background: linear-gradient(45deg, #e0c384 10%, #af844c 80%);
    left: calc(50% - 2px);
    width: 3px;
    border-bottom: red;
    border-top: red;
    border-radius: 5rem;
    height: 100%;
}