@font-face {
    font-family: Fino-Sans-Regular;
    src: url(/fonts/Fino\ Sans\ Regular.woff);
  }
@font-face {
    font-family: Egyptian-Theme;
    src: url(/public/fonts/XXII-ARABIAN-ONENIGHTSTAND.woff);
  }
@font-face {
    font-family: Regular-Text;
    src: url(/public/fonts/Oregano-Regular.woff);
  }
@font-face {
    font-family: Al-Andalus;
    src: url(/public//fonts/Al-Andalus-Regular.woff);
  }
  @font-face {
    font-family: PF-MomentaPro;
    src: url(/public//fonts/PFMonumentaPro-Metallica.woff);
  }
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: #735e4c;
}
::-webkit-scrollbar-thumb {
  background: #dfa875;
}
::-webkit-scrollbar-thumb:hover {
  background: #3e2917;
}