
.pdfWrapper{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    margin-top:10rem;
    background-color:aliceblue;
    .hillfareLogo{
        img{
            width:9rem;
        }
    }
    .pageWrapper{
       
       width: 100%;
       .firstPageInfo{
margin-left:20%;
p{
    color:black;
    margin:0.5rem;
}
       }
.secondPageInfo{
    margin-left:20%;
    p{
        color:black;
        margin:0.5rem;
    }
}
    }

    .footer{
        img{
            width: 6rem;
        }
    }
}