.homeMain {
  background-color: #3e2917;
  height: 105vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  .layers {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
  }
  .header-text{
    height: 100vh;
      overflow: hidden;
      .heading {
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 30%;
        margin-top: 5.5em;
        text-align: center;
        white-space: nowrap;
        text-align: center;
        font-family: Egyptian-Theme;
        font-weight: bolder;
        @media screen and (max-width: 430px) {
          position: fixed;
          z-index: -95;
        }
        h1 {
          letter-spacing: 8px;
          font-size: 6rem;
          @media screen and (max-width: 430px) {
            font-size: 3.5rem;
            letter-spacing: 4px;
          }
        }
        h3 {
          font-size: 2rem;
          letter-spacing: 5px;
          font-family: Al-Andalus;
          @media screen and (max-width: 430px) {
            font-size: 1.5rem;
            letter-spacing: 2px;
          }
        }
        button {
          background-color: #1328b2;
          color: rgb(243, 243, 243);
          padding: 0.8rem;
          font-family: Egyptian-theme, sans-serif;
          font-weight: 900;
          font-size: 1.3rem;
          border-radius: 5px;
          letter-spacing: 3px;
          margin-top: 1em;
          z-index: -90;
          &:hover {
            transition: 0.3s;
          }
          @media screen and (max-width: 430px) {
            font-size: 1em;
            opacity: 0.8;
          }
        }
      }
      .dates {
        text-align: center;
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 47%;
        padding-top: 8em;
        font-family: Al-Andalus;
        font-size: 1.2rem;
        letter-spacing: 5px;
        letter-spacing: 6px;
        @media screen and (max-width: 430px) {
          left: 50%;
          padding-top: 60%;
          top: 62%;
        }
      }
    }
  }

