.homeMain{
    background-image: url('/public/images//hillffair\ home\ main.png');
    background-color: #3e2917;
    height: 110vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    .text{
        span{
            font-size: 5rem;
            font-family: Egyptian-Theme;
        }
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-50%);
        p{
            font-size: 1.5rem;
            font-family: Fino-Sans-Regular;
            letter-spacing: 1px;
            font-weight: 600;
        }
        .theme{
            padding-top: 0.7rem;
        }
        .dates{
            padding-bottom: 1rem;
        }
        button {
            align-items: center;
            background-color: #3f1d07;
            border: 0.1rem solid #fdbd1f;
            border-radius: 2rem;
            box-sizing: border-box;
            color: #fff;
            cursor: pointer;
            display: flex;
            font-family: Sofia Pro, Helvetica, Arial, sans-serif;
            font-size: 1.2rem;
            justify-content: center;
            padding: 0.6rem 1.4rem;
            text-align: center;
            margin: 0.5rem 0 1rem;
            &:hover {
              background-color: #fdbd1f;
              transition: 0.5s ease-out, color 0.2s ease-out, border 0.2s ease-out;
            }
          }
    }
    .mainImg{
        width: 100%;
        height: auto;
    }
}